<style>
* {
    box-sizing: border-box;
    font-family: "Rubik";
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #151515;
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
}

body {
    margin: 0;
    height: 100%;
}

html {
    background-color: hsl(0, 94%, 34%);
    height: 100%;
}

.wrapper {
    min-height: 100%;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 150px;
}

.videoCont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}

h1 {
    font-family: "Fascinate";
    font-size: 72px;
    margin: 0 0 60px 0;
}

.inputCont {
    width: 100%;
    max-width: 419px;
    height: 58px;
    border-radius: 20px;
    background-color: black;
    border: 0;
    display: flex;
    padding: 0 20px;
    column-gap: 20px;
    transition: box-shadow 0.3s ease;
}

input {
    background-color: black;
    border: 0;
    font-size: 18px;
    color: #848484;
    outline: none;
    width: 100%;
}

.inputCont:focus-within {
    box-shadow: 0 0 0 4px #fcffc74f;
}

input::placeholder {
    color: #616161;
}

.inputCont img {
    filter: brightness(50%)
}

.videoPlaceholder {
    width: 640px;
    height: 480px;
    background-color: black;
    border-radius: 20px;
    display: none;
}

.memes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.allMemes {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30px 15px;
    flex-wrap: wrap;
    max-width: 500px;
    top: 150px;
    position: absolute;
    visibility: hidden
}

.meme {
    width: 100%;
    border-radius: 20px;
}

.spacer {
    margin-bottom: 60px;
    background: transparent;
}

video {
    border-radius: 20px;
}

.meme img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}
</style>